/*-----------------------------------------------------------------------------------*/
/* Table of contents

1. Navbar

2. HERO / SERACHBAR

3. Categorie

4.recipes_home Section / sidebar / home_recipe

/*-----------------------------------------------------------------------------------*/
/* Navbar
/*-----------------------------------------------------------------------------------*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: #222;
}
body{
  overflow-x: hidden;
}

/* Navbar */

.custom-logo {
	max-height:100px !important;
	width:200px !important;
}

.navbar-toggler {
  border: transparent ;
  color: black ;
}

.navbar-light{
background-color: transparent !important;
}

.navbar-nav li{
  padding-right: 1.5rem;
    padding-left: 1.5rem;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
}
/*-----------------------------------------------------------------------------------*/
/* Hero SECTION
/*-----------------------------------------------------------------------------------*/

.hero{
  height:450px;
  background-size:cover;
  background-repeat:no-repeat;
  position:relative;
  overflow:hidden;
  display:flex;
  align-items:center;
  justify-content:center;
  
}
.hero .overlay{
  background-color:rgba(7, 7, 7, 0.664);
  position:absolute;
  height:100%;
  width:100%;
  z-index:1;
  left:0;
  right:0;
  top:0;
  opacity:0.5;
}
.hero .content{
  color:#fff;
  z-index:2;
  text-align:center;
}
.hero .content h1{
  font-size:45px;
  font-weight:700;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 20px;
}
.hero .content p{
  font-family: 'Montserrat', sans-serif;
}


/* SEARCH BAR  */


.search-box {
  position: relative;
  display: flex;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.search-input {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  padding: 15px 45px 15px 15px;
  background-color: #ffffff;
  color: #c0c0c0;
  border-radius: 6px 0px 0px 6px; /*TL TR BR BL*/
  border:none;
  transition: all .4s;
}

@media (min-width: 576px) { .search-input { width: 180px; }}

@media (min-width: 768px) { .search-input { width: 680px; }}

@media (min-width: 1200px) { .search-input { width: 880px; }}
@media (min-width: 1400px) { .search-input { width: 1080px; }}


.search-input:focus {
  border:none;
  outline:none;
  box-shadow: 0 1px 12px #b8c6db;
  -moz-box-shadow: 0 1px 12px #b8c6db;
  -webkit-box-shadow: 0 1px 12px #b8c6db;
}

.search-btn {
  background-color: transparent;
  font-size: 18px;
  padding: 6px 9px;
  background:black;
  border:1px solid black;
  color: #6c6c6c;
  transition: all .4s;
  z-index: 10;
 border-radius: 0px 6px 6px 0px; /*TL TR BR BL*/
    width: 70px;

}

.search-btn:hover {
  transform: scale(1.2);
  cursor: pointer;
  color: black;
}

.search-btn:focus {
  outline:none;
  color:black;
}

.fa-search{
  color:white;
}

/*-----------------------------------------------------------------------------------*/
/* Categorie SECTION
/*-----------------------------------------------------------------------------------*/

a:link {
  text-decoration: none
}

.card-inner {
  border: 2px solid rgba(224, 222, 222, 0.562);
  margin:0  20px 0 20px;
    display : flex;
    width:176px; 
  height:193px;
 border-radius: 6px;
  align-items: center;
  padding: 23px 15px 16px;
   box-shadow: 0px 10px 20px 0px rgb(0 0 0 / 10%);
   color: #000000;
  transition: all .5s
}

.card-inner img  {
  margin-bottom: 20px;
  height: auto;
  
}

.card-inner:hover {
  transform: scale(1.1)
}

.mg-text.mb-2 span {
  font-size: 12px;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
}

.mg-text {
  line-height: 14px
  
}




/*-----------------------------------------------------------------------------------*/
/* recipes_home SECTION
/*-----------------------------------------------------------------------------------*/

.recipes_container{
  display: flex;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
.recipes_home{
  width: 100%;
  display: flex;
}

/* Sidebar  */

.home_sidebar{
  width: 25%;
  position: relative;
  display: flex;
}

.sidebar_wrap{
  padding: 0px 15px 0px 15px;
  width: 100%;
}

.sidebar_widget{
  display: flex;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    align-content: flex-start;
}

/*social */
.social_title{
  margin-bottom: 20px;
  margin: 0px 0px -18px 0px;
  text-align: left;
}

.social_title h3{
  font-size: 20px;
  font-weight: 700;
    line-height: 1.4;
    color: #111111;
}

.social_title {
  margin-bottom: 35px;
  padding-bottom: 18px;
  position: relative;
  width: 100%;
  border-bottom: 3px solid #b4b4b4;
  font-weight: 700;
}

.title-bar {
  font-weight: 400;
  background-color: #ff4a52;
  position: absolute;
  content: "";
  bottom: -2px;
  left: 0;
  height: 3px;
  width: 50px;
  background: #ff4a52;
}

.social_icone{
  margin-bottom: 20px;
  width: 100%;
}

.icone_container{
  margin: 0px 0px 25px 0px;
}

.social{
  margin: 0;
    padding: 0;
    list-style: none;
}

.social_items{
    border-radius: 5px;
    margin-right: 2.5px;
    margin-bottom: 5px;
    margin-left: 2.5px;
    display: inline-block;
}

.social_items a{
  width: 50px;
  height: 50px;
  color: #FFFFFF;
  background: transparent;
  border-radius: 5px;
  font-size: 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.social_items img{
  display: inline-block;
  font-size: inherit;
  width: 50%;

}

/* Sidebar ads*/
.sidebar_ads{
  margin-bottom: 20px;
  width: 100%;
  position: relative;
  border-radius: 5px 5px 5px 5px;
}

.sidebar_ads img{
  width: 100%;
  border-radius: 5px 5px 5px 5px;
  vertical-align: middle;
  display: inline-block;
  height: auto;
  max-width: 100%;
  border: none;
}

/* sidebar_list*/
.sidebar_list{
  padding-left: 0px;
  margin-bottom: 0;
  margin: 0 0 20px 0;
}

.single_item{
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;  

}

.item_img{
  border-radius: 4px;
    width: 40%;
    margin-right: 20px;
    margin-top: 5px;
    position: relative;
    overflow: hidden;
}

.item_img:before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 3;
  width: 0;
  height: 0;
  border-bottom: 40px solid #ff4a52;
  border-left: 40px solid transparent;
}


.itm_img a{
  text-decoration: none;
}

.count-number{
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -5px;
    bottom: -5px;
    z-index: 3;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    font-size: 14px;
    background: none;
}

.item-content {
  flex: 1;color: #000 ;
}

.item_ctg{
  line-height: 1;
  margin-bottom: 3px;  

}

.item_ctg span{
  font-weight: 600;
  color: #ff4a52;
  font-size: 16px;
}

.item-title{
  line-height: 1.4;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 20px 0;
    color: #111111;
}

.item-title span{
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 4px;
  color: #111111;
}

.item-post-by{
  display: inline-block;
    line-height: 1;
    font-size: 15px;
}

/* Recipe list*/
.recipes_listrow{
  width: 74.666%;
  position: relative;
  box-sizing: border-box;
  display: flex;
}

.recipes_listwrap{
  padding: 0px 15px 0px 15px;
  width: 100%;

}

.ads_home {
  width: 100%;
  border-radius: 5px;
  vertical-align: middle;
  display: inline-block;
  height: auto;
    max-width: 100%;
    border: none;
}

/* FOOTER */
footer {
  background: #222;
  color: #aaa;
  padding-top: 10px;
  margin-top: 50px;
 
   bottom: 0;
   width: 100%;
   text-align: center;
}


footer a {
  color: #aaa;
}

footer a:hover {
  color: #fff;
}

footer h3 {
 color: #0894d1;
  letter-spacing: 1px;
  margin: 30px 0 20px;
}

footer .three-column {
 overflow: hidden;
}

footer .three-column li{
 width: 33.3333%;
  float: left;
  padding: 5px 0;
}

footer .socila-list {
  overflow: hidden;
  margin: 20px 0 10px;
}

footer .socila-list li {
  float: left;
  margin-right: 3px;
  opacity: 0.7;
  overflow: hidden;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

footer .socila-list li:hover {
  opacity: 1;
}

footer .img-thumbnail {
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid #444;
  margin-bottom: 5px;
}

footer .copyright {
  padding: 15px 0;
  background: #333;
  margin-top: 20px;
  font-size: 15px;
}

footer .copyright span {
  color: #0894d1;
}

.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 200px;
    margin: 30px 0 20px;

}

/**
* WordPress content.php
*/

.entry-banner-content{
  padding: 90px 0 95px;
  text-align: center;
  position: relative;
  z-index: 2;
}

.entry-banner .entry-banner-content h1 {
  line-height: 1.4;
  font-weight: 600;
  margin-bottom: 10px;
  color: #ffffff;
  font-size: 56px;
}

.entry-banner {
  background-color: rgba(255, 74, 82, 0.95);
margin-top: 80px;
}

.content-area{
  padding-top: 80px;
  padding-bottom: 80px;
}

.entry-meta {
  padding-left: 0px;
  line-height: 1;
  margin-bottom: 0px;
  display: inline-block;
}

.entry-meta ul {
  list-style: none;
}

.entry-meta .single-meta {
  display: inline-block;
  margin-right: 16px;
  margin-bottom: 5px;
  font-size: 15px;
  text-transform: capitalize;
}



.entry-meta .single-meta i {
  margin-right: 5px;
  color: #ff4a52;
  font-size: 14px;
}

.cat-banner{
  margin-top:80px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.entry-banner-cat{
  padding: 40px 0 45px;
  text-align: center;
  position: relative;
  z-index: 2;
}

/* Sidebar widget */
.widget{
  list-style-type: none;
 margin-top: 40px;

}




.wp-block-categories-list {
  list-style-type: none;
}

.widget_categories{
  padding-top: 25px;
  margin-right: 45px;
}

.wp-block-categories-list.wp-block-categories {
  display: block;
  margin: 0;
}

.cat-item {
    margin: 0;
    border: 1px solid #ffffff;
    min-height: 59px;
    display: flex;
    padding: 0 18px;
    justify-content: space-between;
    align-items: center;
    background: #b3b5b8c4;
    font-weight: bold;
}

.wp-block-group__inner-container h2{
  padding-bottom:10px;

}

.wp-block-latest-posts__list li {
  margin-top: 30px;
  font-weight: 700;
}

.wp-block-latest-posts__list img {
  border: 5px;
}

.widget.widget_block h2{
  padding:0;
  
  text-align: center;
  background-color:black;
  color:white;
}

.widget.widget_block.widget_tag_cloud a{
  display: inline-block;
  padding: 0.35em 0.65em;
  font-size: .99em !important;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  background-color:grey;
  margin: 10px;
}

.item-feature {
  margin-bottom: 35px;
}

.item-feature ul {
 
 justify-content:center;
 align-items:center;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  
  /* flex-direction: column; */
}

 .item-feature .active-4 {
  margin-top: 2px;
  max-width: 25%;
  flex: 0 0 25%;
  padding-left: 1px;
  padding-right: 1px;
}

.item-feature .active-4 .feature-wrap {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
}

.item-feature ul li .media {
  height: 100%;
  padding: 12px 5px;
  align-items: center;
}

.media {
  display: flex;
  align-items: flex-start;
}

.item-feature  li .feature-icon {
  font-size: 24px;
  line-height: 1;
}

.item-feature  li .space-sm {
  margin-left: 20px;
}

.item-feature  li .feature-title {
  font-size: 18px;
  color: #444444;
  font-weight: 600;
}


.tabs h1 {
  font-weight: normal;
  font-size: 40px;
  font-weight: normal;
  text-transform: uppercase;
  float: left;
  margin: 20px 0 100px 10px;
}
.tabs h1 span {
  font-size: 13px;
  display: block;
  padding-left: 4px;
}
.tabs {
  width: 650px;
  float: none;
  list-style: none;
  position: relative;
  margin: 80px 0 0 10px;
  text-align: left;
  margin-bottom: 50%;
  
}
.tabs li {
  float: left;
  display: block;
}
.tabs input[type="radio"] {
  position: absolute;
  top: 0;
  left: -9999px;
}
.tabs .tabslabel {
  display: block;
  padding: 14px 21px;
  border-radius: 2px 2px 0 0;
  font-size: 20px;
  font-weight: normal;
  text-transform: uppercase;
  background: #F8F8F8;
  cursor: pointer;
  position: relative;
  top: 4px;
  transition: all 0.2s ease-in-out;
  border: 1px solid rgb(219, 215, 215);
}
.tabs label:hover {
  background:#dbd2d2;
}
.tabs .tab-content {
  z-index: 2;
  display: none;
  overflow: hidden;
  width: 100%;
  font-size: 17px;
  line-height: 25px;
  padding: 55px;
  position: absolute;
  top: 53px;
  left: 0;
  background: #f1f1eb;

}
.tabs [id^="tab"]:checked + label {
  top: 0;
  padding-top: 17px;
  background: #dbd2d2c7;
}
.tabs [id^="tab"]:checked ~ [id^="tab-content"] {
  display: block;
}

.form-check-label{
  font-size: 25px;
  font-weight: bold;
}

.serial-desc{
  margin-bottom: 35px;
  color: rgb(63, 55, 53);
  background: white;
  padding: 25px;
  border-radius:5px;
  font-size: 22px;
  font-family: "Open Sans";
}

/* =Blog-Navigation - Pagination
----------------------------------------------- */
ul.page-numbers {
  list-style: none;
  margin: 0;
}

.page-numbers:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

ul.page-numbers li {
  display: block;
  float: left;
  margin: 0 8px 8px 0;
  text-align: center;
}

.page-numbers a,
.page-numbers span {
  line-height: 1.6em;
  display: block;
  padding: 5px 30px;
  height:28px;
  line-height: 18px;
  font-size: 22px;
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
  border: 1px solid #ddd;
  color: #888;
}

.page-numbers a span { padding: 0 }

.page-numbers a:hover,
.page-numbers.current,
.page-numbers.current:hover {
  color: #000;
  background: #f7f7f7;
  text-decoration: none;
}

.page-numbers:hover { text-decoration: none }
ul.nav li.dropdown:hover ul.dropdown-menu {
  display: block! important;
}



.form-subscribe
{
  max-width:600px;
  margin:0 auto
}
.form-subscribe .form-control
{
  background-color:hsla(0,0%,100%,.8);
  padding-left:24px;
  padding-right:24px;
  letter-spacing:1px;
  border:none;
  border-top-left-radius:36px;
  border-bottom-left-radius:36px
}
.form-subscribe .form-control.focus,.form-subscribe .form-control:focus
{
  z-index:2;
  background-color:hsla(0,0%,100%,.8)
}
.form-subscribe .btn
{
  border-top-right-radius:36px;
  border-bottom-right-radius:36px;
  background:#7ec855;
  border-color:#7ec855;
  height:46.5px;
}